<nav class="max-w-screen-lg px-5 py-5 mx-auto flex justify-between">
  <div>
    <a class="text-3xl font-bold text-indigo-600 hover:text-indigo-700" href="/">PHOTOCER</a>
  </div>
  <div class="flex items-center flex-wrap space-x-6">
    <a class="text-base font-medium text-gray-700 hover:text-indigo-700" href="/">Home</a>
    <a class="text-base font-medium text-gray-700 hover:text-indigo-700" href="#">Contact</a>
    <a class="text-base font-medium text-gray-700 hover:text-indigo-700" href="#">About</a>
  </div>
</nav>
